<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" >
    <test  name="ChromeTest">
        <parameter name="browser" value="chrome">

        </parameter>
    <classes>
        <class name="PageTest.testCase01">
            <methods>
                <include name="setUp2"/>
            </methods>
        </class>
    </classes>
</test>
    <test  name="FireFoxTest">
        <parameter name="browser" value="firefox">

        </parameter>
        <classes>
            <class name="PageTest.testCase01">
                <methods>
                    <include name="setUp2"/>
                </methods>
            </class>
        </classes>
    </test>
    <test  name="EdgeTest">
        <parameter name="browser" value="edge">

        </parameter>
        <classes>
            <class name="PageTest.testCase01">
                <methods>
                    <include name="setUp2"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>